/* key stuff */

#myVideo {
    position: absolute;
    right: 0;
    min-width: 100%; 
    min-height: 100%;
}

#border{ 
    border: 3px solid transparent;
    -webkit-border-image: url(vidBorder.png) 3 round; /* Safari 3.1-5 */
    -o-border-image: url(vidBorder.png) 3 round; /* Opera 11-12.1 */
    border-image: url(vidBorder.png) 3 round;
}

.video-container {
    position: relative;
    top: -25px;

}

.actual-video {
    padding-bottom: 47px;


}
.title-image{
    position: relative;
    margin: auto;
    top: 35px;
    left: 0px;
    }
.container{
}
.trailer-logo{
    position: relative;
    right: 0;
}
#features,#about{
    position: relative;
    bottom: 0;
    background-image: url(bg.png);
    background-repeat: repeat;
}
body{
    background-image: url(bg.png);
    background-repeat: repeat;
}
    
#light{
    color: 
}
.image-Label{
    padding: 30px;
    margin: auto;
}
.image-Label2{
    position: relative;
    top: -50px;
    padding: 0px;
    margin: auto;
}
.fa{
    color: aliceblue;
}
footer{
    padding: 30px;
}